<p id="notice"><%= notice %></p>

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <!--<link rel="stylesheet" href="/resources/demos/style.css">-->
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Latest compiled and minified JavaScript  for dropdown -->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> -->
 <script>
  $( function() {
	var availableCities = [
		"Annapolis",
		"Aberdeen",
		"Baltimore",
		"Berwyn Heights",
		"Bladensburg",
		"Brunswick",
		"Hagerstown",
		"Gaithersburg", "Rockville",
		"Silver Spring",
		"Washington D.C."
	];
	$( "#cities" ).autocomplete({
		source: availableCities
	});
} );
</script>

<h1>What's on the bucketlist?</h1>

<%= form_tag cities_path, :method => 'get', :id => "cities_search" do %>
<%#= hidden_field_tag :direction, params[:direction] %>
<%= hidden_field_tag :sort, params[:sort] %>
	<!--<span class="dropdown">
	<span class="dropdown">
		<span class="caret"></span></button>
		<ul class="dropdown-menu">
			<li><a href="#">Eat/Drink</a></li>
			<li><a href="#">Explore</a></li>
		</ul>
	</span> -->

	<span class="dropdown">
		<%= select_tag :category, options_for_select(City::CATEGORIES), prompt: "I'd like to..", class: 'btn btn-default dropdown-toggle', style: 'margin: 0 0 2px 0;' %>
	</span>
	<span class="ui-widget">
	<%= text_field_tag :city, params[:search], id: 'cities', class: 'ui-autocomplete-input', style: 'height:38px;', placeholder: 'in..' %>
	</span>
	<%#= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil, class: "btn btn-default", style: "padding: 7px 5px 7px 5px; margin-top: -3px;" %>
<% end %>

<% if @city %>
<p> <strong>City Name:</strong> <%= @city.name %> </p>
<p> <strong>Category:</strong> <%= params[:category] %> </p>
<% else %>
<p> <strong>Please search for a city</strong> </p>
<% end %>
<hr>

<%= Attraction.where(city_id: 1).inspect %>

<script>
var locations = [
];
</script>

<div id="map_wrapper">
  <div id="map"></div>
</div>

   <script type="text/javascript">
    $(function loadScript(){

		var locations = [];
     /*var locations = [
       ['Bondi Beach', -33.890542, 151.274856, 4],
       ['Maroubra Beach', -33.950198, 151.259302, 1]
     ]; */

     var map = new google.maps.Map(document.getElementById('map'), {
       zoom: 11,
       center: new google.maps.LatLng(38.989818,-77.022674),
			 mapTypeId: 'roadmap'
     });

     var infowindow = new google.maps.InfoWindow();

     var marker, i;

     for (i = 0; i < locations.length; i++) {
       if (locations[i][3] == 'new'){
         marker = new google.maps.Marker({
           position: new google.maps.LatLng(locations[i][1], locations[i][2]),
           map: map,
           icon: greenPin
         });
       }else{  // vehicle_type == 'used'
         marker = new google.maps.Marker({
           position: new google.maps.LatLng(locations[i][1], locations[i][2]),
           map: map,
           icon: yellowPin
         });
       }

       google.maps.event.addListener(marker, 'click', (function(marker, i) {
         return function() {
           infowindow.setContent(locations[i][0]);
           infowindow.open(map, marker);
         }
       })(marker, i));
     }
   })

   //window.onload = loadScript;
   </script>

   <style>
   #map_wrapper {
     height: 380px;
		 width: 50%;
     float: right;
   }

   #map {
       width: 100%;
       height: 100%;
   }
   </style>
